{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true,
    "destructuring": true,
    "spread": true,
    "arrowFunctions": true,
    "blockBindings": true
  },
  "rules": {
    "strict": [2, "global"],
  }
}